;;; Configuration is a nested map of keys-values. We use the Aero library to
;;; allow for multi-environment config from a single file. The idea is that all
;;; configuration should be easily understood from a single location. The values
;;; below represent the defaults of the system and can be overriden at runtime
;;; based on CLI args

{:http-kit {:port               #profile {:default 8080}
            :ip                 "0.0.0.0"
            :worker-name-prefix "distmarkets-service"
            :thread             4}

 :kafka
 {:bootstrap-servers #profile {:default ["127.0.0.1:9092"]
                               :aws     ["107.23.205.118:9092" "54.87.138.212:9092" "54.164.58.194:9092"]}}
 
 :data-topic
 {:name           #profile {:default "data-topic"}
  :consumer-group #profile {:default "data-topic-group"}}

 :redis
 {:host #profile {:default "localhost"}}

 :reciepts-topic
 {:name           #profile {:default "reciepts-topic"}
  :consumer-group #profile {:default "reciepts-topic-group"}}

 :proof-topic
 {:name           #profile {:default "proof-topic"}
  :consumer-group #profile {:default "proof-topic-group"}}}
